* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

/* Nav */
.navbar {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 25px;
}

.nav-title {
    color: white;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

nav a:hover {
    color: #1DB954;
    transform: translateY(5px);
    transition-duration: 0.5s;
}

/* a */
a {
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
}

/* text */
p {
    color: white;
}  

.code-link {
    color: #1DB954;
    font-weight: bold;
}

.code-link:hover {
    text-decoration: underline;
}

.title {
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
    line-height: 60px;
    color: white;
}

.label {
    font-weight: bold;
    font-size: 20px;
}

/* containers */
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* rows */
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* columns */
.col {
    flex-basis: 100%;
    min-width: 300px;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
    color: white;
}

.col-2 h3 {
    font-weight: normal;
    color: white;
}

.col-3 {
    flex-basis: 33%;
    min-width: 300px;
}

.col-4 {
    flex-basis: 25%;
    text-align: center;
    min-width: 300px;
}

.col-5 {
    flex-basis: 20%;
    text-align: center;
}

.header .col-2 {
    padding-top: 25px;
    padding-bottom: 25px;
}

/* profile */
.profile {
    max-width: 100%;
    padding: 50px 0;
    text-align: right;
}

.profile img {
    max-width: 75%;
    text-align: center;
}

/* buttons */
.btn {
    display: inline-block;
    background: #1DB954;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition-duration: 0.5s;
}

.btn:hover {
    background: #158a3e;
    transform: translateY(3px);
    transition-duration: 0.5s;
}

/* indicator */
.indicator {
    width: 100%;
    border: none;
    background: #1DB954;
    height: 3px;
    margin-top: 8px;
    transition: 1s;
}

/* technology */
.technologies {
    margin-top: 50px;
}

.technology {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.technology-indicator {
    width: 100%;
    border: none;
    background: #1DB954;
    height: 3px;
    margin-top: 50px;
    transition: 1s;
}

/* footer */
.footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer .col-2 {
    text-align: center;
}

.footer .col {
    text-align: center;
    margin-bottom: 30px;
}

/* projects */
.projects {
    margin-top: 50px;
}

.projects a {
    font-weight: bold;
    color: #1DB954;
}

.projects a:hover {
    text-decoration: underline;
}

.projects .col-2 {
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
    transition-duration: 0.5s;
}

.projects .col-2:hover {
    transform: translateY(-5px);
    transition-duration: 0.5s;
}

.projects img {
    width: 300px;
}

/* About Me */
.about-me h3 {
    font-weight: bold;
}

.about-me .row {
    margin-bottom: 25px;
}

.about-me img {
    max-width: 90%;
    margin-top: 20px;
}

.about-me h2 {
    text-align: left;
    margin-bottom: 10px;
    padding-top: 0;
}

.about-title {
    text-align: left;
    margin: 0 auto 30px;
    position: relative;
    line-height: 60px;
    color: white;
}

@media (max-width: 768px) {
    .col-2, .col-3, .col-4, .col-5 {
        flex-basis: 100%;
        text-align: center;
    }
    
    .about-me {
        margin-top: 25px;
    }

    .about-me h2 {
        text-align: center;
        margin-bottom: 10px;
        padding-top: 0;
    }

    .about-title {
        text-align: center;
        margin: 0 auto 30px;
        line-height: 60px;
        color: white;
    }

    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .btn {
        width: 100% auto;
        padding: 10px 20px;
    }

    .profile {
        padding: 0;
        text-align: center;
    }

    .projects img {
        width: 100%;
        max-width: 400px;
    }

    .projects .col-2 {
        padding-top: 25px;
    }

    .footer .col-2 {
        padding-top: 25px;
    }
}

@media (max-width: 480px) {
    h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    .btn {
      width: 100%;
    }
  
    .profile img {
      max-width: 100%;
    }
  }
